.note-main
	border: solid 1px black
	position: absolute
	z-index: 20
	right: 0
	width: 400px
	height: inherit
	background-color: rgba(214,214,214,1)
	box-shadow: 9px 8px 50px 0 #666
	transition: right 1s
	border-radius: 2px 0 0 40px
	overflow: hidden

	&.closeNotes
		right: -450px

	.note-head
		position: relative
		right: 0
		top: 5px
		margin-right: 20px
		padding-bottom: 3px
		width: 20px
		height: 20px
		text-align: center
		border-radius: 15px

		a
			font-size: 12px

			&:visited
				color: black
		&:hover
			background-color: red

			a
				font-weight: bold
				color: white


	.note-content
		display: flex
		flex-direction: column

		.note-title
			font: normal normal bold 15px 'Source Sans Pro', sans-serif
			margin-top: 0px
			margin-bottom: 0px
			padding: 0px
			text-decoration: underline
			text-align: center

			h1
				margin: 5px

		.note-references
			margin-top: 0
			font: normal normal 600 13px 'Source Sans Pro', sans-serif

			a
				&:visited
					color: blue

			.instruction-section
				height: initial
				display: block
				transition: height .6s ease-in

				&.hideDiv
					height: 0px
					display: none

			.flag-section
				height: initial
				display: block
				transition: height .6s ease-in

				&.hideDiv
					height: 0px
					display: none


.note-body
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.entry-div
	font: normal normal 600 18px 'Source Sans Pro', sans-serif

	#note-input
		margin-top: 2px
		.note-data
			padding-bottom: 5px
			border: 2px groove #666
			#text-entry
				font: normal normal 400 18px 'Source Sans Pro', sans-serif
				padding: 0
				width: 100%
				height: 60px

			#note-modifiers
				margin-top: 3px
				.action-field
					margin: 0
					padding: 0
					display: inline-block
					width: 49%
					left: 20px

					select
						user-select: none
						width: 100%
						margin: 0
						padding-left: 10px
						height: 30px
						float: left
						border: 2px inset
						border-radius: 10px 10px

				.date-field
					margin: 0
					padding: 0
					display: inline-block
					width: 49%
					height: inherit

					#date-time
						position: relative
						float: right
						margin: 0
						width: 75%
						height: 25px
						border-radius: 10px 10px
						padding-left: 30px

					span
						padding-top: 5px
						cursor: pointer
						position: absolute
						z-index: 11
						right: 35px

			.submit-button
				width: 25%
				margin: 0 auto
				#note-submit
					margin-top: 6px
					float: right
					height: 25px
					border-radius: 10px 10px
					padding-bottom: 22px
.note-body-posts
	width: 100%
	height: 265px
	overflow-y: scroll
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-content: center
	align-items: center



	&::-webkit-scrollbar
		width: 6px
		background-color: lighten($envysionorange,20%)
		margin-right: 3px

		&:hover
			width: 9px

	&::-webkit-scrollbar-track
		box-shadow: inset 0 0 6px rgba(0,0,0,.3)
		background-color: lighten($envysionorange,10%)
		border-radius: 7px


	&::-webkit-scrollbar-thumb
		background-color: $envysionblue
		border-radius: 5px


.note-context
	scroll: auto
	display: none
	width: 97%
	background: transparent

	.post
		margin: 0

		& > *
			margin: 0 5px

		&>hr
			margin: 1px

	&.active
		display: block

		&.tech-context
			.post
				background: lightblue
		&.ert-context
			background: yellow
		&.sales-context
			background: red
		&.all-context
			background: orange
		&.install-context
			background: blue
