header

	.top-of-header
		display: flex
		justify-content: space-between
		margin-bottom: 15px

		.logo-area

		.login-area
			user-select: none
			cursor: default
			//background-color: lightgray

			&> div> div
				display: inline
	.middle-of-header
		.access-level
			.access-nav
				width: inherit
				display: flex
				//background-color: lightgray
				justify-content: center
				height: 75%
				ul
					padding: 0
					width: 100%
					display: inherit
					justify-content: space-around
					align-items: center
					margin: auto 0

					li
						list-style: none
						text-decoration: none

						&.menu-item
							align-items: center
							justify-content: center
							transition: border 100ms


							.menu-box
								height: 35px
								width: 35px
								color: white
								display: flex
								cursor: pointer
								flex-direction: column
								justify-content: center
								align-items: center
								background-color: darkgray
								border: 2px solid #000
								border-radius: 10px

								&> div
									background-color: white
									margin: 4px
									height: 2px
									width: 75%

								&:active
									background-color: lighten(darkgray, 15%)
									//border-radius: 10px
									border: 2px solid lighten(#000,50%)

									&> div
										background-color: lighten($envysionblue, 22%)
	.bottom-of-header
		position: absolute
		z-index: -1
		top: 0
		right: 0
		.action-level
			height: 100vh
			width: 0
			transition: width .5s
			background-color: fade-out(lighten($envysionblue,30%), .05)

		#action-menu-toggle
			display: none

		#action-menu-toggle:checked + .action-level
			width: 400px

	@media screen and (min-width: 320px) and (max-width: 740px)
		.top-of-header
			position: relative
			display: block

			.logo-area
				margin-bottom: 10px

			.login-area
				height: auto

				&>div
					display: flex
					margin: 0 auto
					width: 200px
					justify-content: space-around
					align-items: center

					.dividing-bar
						font-size: 25px

					&>div
						display: inline-flex
						align-items: center
						justify-content: center

				.login-button
					height: 30px
					width: 100px
					background-color: lighten($envysionblue,25%)
					border: 2px outset darken($envysionblue, 30%)
					border-radius: 10px
					box-shadow: -5px 3px darken($envysionblue, 10%)
					transition: box-shadow 200ms, background-color 200ms

					&:active
						background-color: lighten($envysionblue,15%)
						box-shadow: -2px 2px darken($envysionblue,5%)
		.middle-of-header
			position: relative
	@media screen and (min-width: 320px) and (max-width: 480px)
		.bottom-of-header
			.action-level
				display: flex
				height: 100vh
				width: 100vw

	@media screen and (min-width: 481px) and (max-width: 960px)
		.bottom-of-header
			z-index: -1
			height: 100vh
			width: 100vw
			.action-level
				position: fixed
				bottom: 0
				height: 0
				width: 100vw
				transition: height .5s cubic-bezier(0,1.54,.58,1.55)

			#action-menu-toggle:checked + .action-level
				height: 150px
				display: hidden
