//-
	header.row.page-header
		.row.header-top
			.col.col--1-of-2.logo-area: img(src="assets/img/new\ folder/theftspot-nwss.png", alt="", width="400px")
			.col.col--1-of-2.login-area
				.textbox
					ul
						li: a(href="#login") Login
						li: span(id="user-type") [Admin]
		.row.access-level
			.nav
				ul
					li: a(href="#nextwave") Next Wave Level
					li: a(href="#account") Account Level
					li: a(href="#site") Site Level
					
		.row.action-level
			.action-nav
				ul
					li: a(href="#nextwave") Next Wave Level
					li: a(href="#account") Account Level
					li: a(href="#site") Site Level
					
header.page-header
	.top-of-header
		.logo-area: img(src="assets/img/new\ folder/theftspot-nwss.png", alt="", width="400px")
		.login-area
			div
				.login-button: span User (logout)
				span.dividing-bar |
				.user-info: span.user-type  [ADMIN]
	.middle-of-header
		.access-level
			.access-nav
				ul
					li: a(href="#") New Item
					li: a(href="#") New Item
					li: a(href="#") New Item
					li.menu-item
						label(for="action-menu-toggle")
							div.menu-box
								div
								div
								div
	.bottom-of-header
		input#action-menu-toggle(type="checkbox", checked)
		.action-level
			label(for="action-menu-toggle")
				i.fa.fa-times(aria-hidden="false")
		
	
